[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
"psycopg2-binary" = "*"
whitenoise = "*"
uwsgi = "*"
dj-database-url = "*"
isort = "*"
"flake8" = "*"
python-dotenv = "*"
shortuuid = "*"
pillow = "*"
raven = "*"
stripe = "*"

[dev-packages]

[requires]
python_version = "3.7"
