[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
whitenoise = "*"
uwsgi = "*"
isort = "*"
dj-database-url = "*"
django-dotenv = "*"
"psycopg2-binary" = "*"
shortuuid = "*"
stripe = "*"
raven = "*"

[dev-packages]

[requires]
python_version = "3.6"
