{% extends 'main/scaffold.html' %}

{% load static %}

{% block title %}Company - KnowHub.app{% endblock %}

{% block content %}
    <section class="people">
        {% if messages %}
        <div class="people-alert">
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        </div>
        {% endif %}

        <h2>Humans Directory</h2>
        <div class="people-grid">
            {% for person in people %}
            <a class="people-grid-item" href="{% url 'main:profile' request.user.profile.company.route person.username %}">
                <div class="people-grid-item-text">
                    <div class="people-grid-item-text-name">{{ person.get_full_name }}</div>
                    <div class="people-grid-item-text-role">{{ person.profile.role|default:"&nbsp;" }}</div>
                </div>
                <div class="people-grid-item-photo">
                    <img src="{{ person.profile.photo }}" alt="user photo" width="48px">
                </div>
            </a>
            {% endfor %}
        </div>
    </section>
{% endblock %}
