{% extends 'main/scaffold.html' %}

{% load static %}

{% block title %}Invite team members - {{ request.user.profile.company.name }}{% endblock %}

{% block content %}
    <section class="addition">
        <h1>Invite team members</h1>

        <form action="{% url 'main:invite' request.user.profile.company.route %}" method="post">
            {{ formset.management_form }}

            <label class="addition-label">Email addresses</label>
            <input class="addition-input" type="email" name="user-0-email" maxlength="254" placeholder="name@company.com">
            <input class="addition-input" type="email" name="user-1-email" maxlength="254" placeholder="name@company.com">
            <input class="addition-input" type="email" name="user-2-email" maxlength="254" placeholder="name@company.com">
            <a id="add-more" class="addition-more">Add another</a>

            {% csrf_token %}
            <input type="hidden" name="next" value="{{ next }}">
            <input type="submit" value="Send Invitations" class="addition-input">
        </form>
    </section>
{% endblock %}

{% block scripts %}
    <script>
        (function () {
            function addField() {
                var newNumber = document.querySelectorAll('.addition-input[type="email"]').length;

                var newField = document.createElement('input');
                newField.classList.add('addition-input');
                newField.type = 'email';
                newField.name = 'user-' + newNumber + '-email';
                newField.maxLength = 254;
                newField.placeholder = 'name@company.com';

                var separator = document.getElementById('add-more');
                separator.parentNode.insertBefore(newField, separator);
            }

            function setup() {
                var button = document.getElementById('add-more');
                button.addEventListener('click', function () {
                    addField();
                });
            }

            setup();
        })();
    </script>
{% endblock %}
