{% extends 'main/layout_public.html' %}

{% load static %}

{% block title %}KnowHub – Docs for remote teams{% endblock %}

{% block content %}
    <section class="hero">
        <div class="hero-content">
            <div class="hero-content-left">
                <h1 class="hero-content-left-title">Docs&nbsp;for<br>remote&nbsp;teams</h1>
                <div class="hero-content-left-text">
                    Create your company's <a href="{% url 'main:features' %}">knowledge repository</a>.
                    <br>Scattered info across Drive docs, repository READMEs,
                    emails and chat history. Does this sound like your team?
                    Get started <a href="{% url 'main:register' %}" style="text-decoration: underline;">here</a>.
                </div>
            </div>

            <div class="hero-content-right">
                <form action="{% url 'main:auth' %}" method="post" class="hero-content-right-form">
                    <h2>Get started for free</h2>
                    {{ form.non_field_errors }}
                    {% if form.email.errors %}
                        {% for error in form.email.errors %}
                            <div class="form-error">{{ error|escape }}</div>
                        {% endfor %}
                    {% endif %}
                    <input type="email" name="email" maxlength="100" required id="id_email" placeholder="Your email address">
                    {% csrf_token %}
                    <input type="submit" value="Sign up for KnowHub">

                    <div class="hero-content-right-form-info">
                        By clicking “Sign up for KnowHub”, you agree to our
                        <a href="{% url 'main:terms' %}">terms&nbsp;of&nbsp;service</a>&nbsp;and&nbsp;<a href="{% url 'main:privacy' %}">privacy&nbsp;policy</a>.
                    </div>
                </form>
            </div>
        </div>
    </section>

    <section class="pitch">
        <div class="pitch-content">
            <div class="pitch-content-text">
                Asking questions is good.
                <br>Getting answers in a disappearing chat might not be.
            </div>
        </div>
    </section>

    <section class="benefits" id="why-knowhub">
        <div class="benefits-content">
            <h2>Why KnowHub?</h2>
            <div class="benefits-content-grid">
                <div class="benefits-content-grid-item">
                    <div class="benefits-content-grid-item-title">Chat doesn't solve every problem</div>
                    <div class="benefits-content-grid-item-description">
                        KnowHub documents are designed for structured information and written guides.
                    </div>
                </div>
                <div class="benefits-content-grid-item">
                    <div class="benefits-content-grid-item-title">Company knowledge base</div>
                    <div class="benefits-content-grid-item-description">
                        Staging environment failure? Database restore from backup? KnowHub is the place for
                        this info.
                    </div>
                </div>
                <div class="benefits-content-grid-item">
                    <div class="benefits-content-grid-item-title">No need to ask the same questions</div>
                    <div class="benefits-content-grid-item-description">
                        Making questions and answers tagged and searchable is better than asking the same thing every
                        time.
                    </div>
                </div>
                <div class="benefits-content-grid-item">
                    <div class="benefits-content-grid-item-title">Faster onboarding</div>
                    <div class="benefits-content-grid-item-description">
                        Reading older questions and answers will make new hires experience past problems as part of the team.
                    </div>
                </div>
                <div class="benefits-content-grid-item">
                    <div class="benefits-content-grid-item-title">Let your employees feel connected</div>
                    <div class="benefits-content-grid-item-description">
                        Enable your employees to feel part of the company. Inform them what's happening
                        inside.
                    </div>
                </div>
                <div class="benefits-content-grid-item">
                    <a href="{% url 'main:features' %}" class="benefits-content-grid-item-cta">
                        Check out our features →
                    </a>
                </div>
            </div>
        </div>
    </section>

    <section class="cta" style="border-top: 1px solid #ffa918; margin-top: 32px; padding-top: 64px;">
        <h2>Get started for free</h2>

        <form action="{% url 'main:auth' %}" method="post" class="cta-form">
            {{ form.non_field_errors }}
            {% if form.email.errors %}
                {% for error in form.email.errors %}
                    <div class="form-error">{{ error|escape }}</div>
                {% endfor %}
            {% endif %}
            <input type="email" name="email" maxlength="100" required id="id_email" placeholder="Your email address">
            {% csrf_token %}
            <input type="submit" value="Sign up for KnowHub">
        </form>

        <div class="cta-info">
            By clicking “Sign up for KnowHub”, you agree to our
            <a href="{% url 'main:terms' %}">terms&nbsp;of&nbsp;service</a>&nbsp;and&nbsp;<a href="{% url 'main:privacy' %}">privacy&nbsp;policy</a>.
        </div>
    </section>
{% endblock %}
