{% extends 'main/scaffold.html' %}

{% load static %}

{% block title %}KnowHub – Docs for remote teams{% endblock %}

{% block content %}
    <section class="hero">
        <div class="hero-content">
            <h1 class="hero-content-title">Docs for&nbsp;remote&nbsp;teams</h1>
            <div class="hero-content-text">
                <br><span class="hero-content-text-lead">Create your company's knowledge repository.</span>
                <br>Scattered info across Drive docs, repository READMEs, emails and chat history.
                <br>Does this sound like your team?
                Get started <a href="{% url 'main:subscribe' %}" style="text-decoration: underline;">here</a>.
                <br>
            </div>
        </div>
    </section>

    <section class="pitch">
        <div class="pitch-content">
            <div class="pitch-content-text">
                Asking questions is good.
                <br>Getting answers in a disappearing chat might not be.
            </div>
            <div class="pitch-content-drawing">
                <img src="{% static 'images/pitch-drawing.png' %}" alt="pitch drawing">
            </div>
        </div>
    </section>

    <section class="features" id="features">
        <div class="features-content">
            <h2>Features</h2>
            <div class="features-content-grid">
                <div class="features-content-grid-item">
                    <div class="features-content-grid-item-title">Resources</div>
                    <div class="features-content-grid-item-description">
                        Create Markdown docs ranging from tech architecture overview to business development tips.
                    </div>
                </div>
                <div class="features-content-grid-item">
                    <div class="features-content-grid-item-title">Questions</div>
                    <div class="features-content-grid-item-description">
                        Ask questions. Searchable, indexable, taggable. Unlike those that happen in a chat.
                    </div>
                </div>
                <div class="features-content-grid-item">
                    <div class="features-content-grid-item-title">People directory</div>
                    <div class="features-content-grid-item-description">
                        A list with everyone working in the company, their role, and profile.
                    </div>
                </div>
                <div class="features-content-grid-item">
                    <div class="features-content-grid-item-title">Announcements</div>
                    <div class="features-content-grid-item-description">
                        Make announcements, spread news. Make everyone feel included without interrupting their flow.
                    </div>
                </div>
            </div>
            <div class="features-content-pricing">
                <a href="{% url 'main:subscribe' %}">Start a free 30 day trial →</a>
            </div>
        </div>
    </section>

    <section class="benefits" id="why-knowhub">
        <div class="benefits-content">
            <h2>Why KnowHub?</h2>
            <div class="benefits-content-grid">
                <div class="benefits-content-grid-item">
                    <div class="benefits-content-grid-item-title">Chat doesn't solve every problem</div>
                    <div class="benefits-content-grid-item-description">
                        KnowHub resources are designed for structured information and written guides.
                    </div>
                </div>
                <div class="benefits-content-grid-item">
                    <div class="benefits-content-grid-item-title">Company knowledge base</div>
                    <div class="benefits-content-grid-item-description">
                        Staging environment failure? Database restore from backup? KnowHub is the place for
                        this info.
                    </div>
                </div>
                <div class="benefits-content-grid-item">
                    <div class="benefits-content-grid-item-title">No need to ask the same questions</div>
                    <div class="benefits-content-grid-item-description">
                        Making questions and answers tagged and searchable is better than asking the same thing every
                        time.
                    </div>
                </div>
                <div class="benefits-content-grid-item">
                    <div class="benefits-content-grid-item-title">Faster onboarding</div>
                    <div class="benefits-content-grid-item-description">
                        Reading older questions and answers will make new hires experience past problems as part of the team.
                    </div>
                </div>
                <div class="benefits-content-grid-item">
                    <div class="benefits-content-grid-item-title">Let your employees feel connected</div>
                    <div class="benefits-content-grid-item-description">
                        Enable your employees to feel part of the company. Inform them what's happening
                        inside.
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="pricing" id="pricing">
        <div class="pricing-content">
            <a class="pricing-content-lead" href="{% url 'main:subscribe' %}">
                Pricing is $2/month per user. All&nbsp;features&nbsp;included. Cancel&nbsp;anytime.
            </a>
            <a class="pricing-content-subtitle" href="{% url 'main:subscribe' %}">
                Start a free 30 day trial →
            </a>
        </div>
    </section>

    <!-- <section class="screenshots">
        <h2>This is how your dashboard looks like</h2>
        <img src="{% static 'images/screenshot-company.png' %}" alt="company screenshot">
    </section> -->

    <section class="cta">
        <!-- <a href="{% url 'main:subscribe' %}" class="cta-link">
            Try KnowHub for free →
        </a> -->

        <h2>Get started for free</h2>

        <form action="{% url 'main:subscribe' %}" method="post" class="cta-form">
            {{ form.non_field_errors }}
            {% if form.email.errors %}
                {% for error in form.email.errors %}
                    <div class="form-error">{{ error|escape }}</div>
                {% endfor %}
            {% endif %}
            <input type="email" name="email" maxlength="100" required id="id_email" placeholder="Your email address">
            {% csrf_token %}
            <input type="submit" value="Get started with KnowHub">
        </form>

        <div class="cta-info">
            By clicking “Get started with KnowHub”, you agree to our
            <a href="{% url 'main:terms' %}">terms&nbsp;of&nbsp;service</a>&nbsp;and&nbsp;<a href="{% url 'main:privacy' %}">privacy&nbsp;policy</a>.
        </div>
    </section>
{% endblock %}
