{% extends 'main/scaffold.html' %}

{% load static %}

{% block layout %}
    <header>
        <div class="header-content">
            <div class="header-content-brand">
                <a href="{% url 'main:index' %}" class="header-content-brand-company">
                    <img src="{{ request.user.profile.company.logo }}" alt="logo" width="32px" height="32px" class="header-content-brand-company-img">
                </a>
            </div>
            <nav>
                <a href="{% url 'main:questions' %}" class="nav-item">
                    <div class="nav-item-icon">
                        {% include "main/bubbles.svg" %}
                    </div>
                    Questions
                </a>
                <a href="{% url 'main:resources' %}" class="nav-item">
                    <div class="nav-item-icon">
                        {% include "main/book.svg" %}
                    </div>
                    Documents
                </a>
                <a href="{% url 'main:people' %}" class="nav-item">
                    <div class="nav-item-icon">
                        {% include "main/team.svg" %}
                    </div>
                    People
                </a>
            </nav>
            <div class="header-content-profile">
                <a href="{% url 'main:profile' request.user.profile.route %}">
                    <img class="header-content-profile-photo" src="{{ request.user.profile.photo }}" alt="profile photo" width="32px" height="32px">
                </a>
            </div>
        </div>
    </header>
    {% if messages %}
    <div class="flash">
        {% for message in messages %}
            {{ message }}
        {% endfor %}
    </div>
    {% endif %}

    {% block content %}
    {% endblock %}

{% endblock %}
