{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="KnowHub.app is a distributed home for remote companies.">

    <title>{% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'styles/main.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500" rel="stylesheet">
</head>
<body>
    {% block scaffold %}
    {% if request.user.is_authenticated %}
    <header class="header-authed">
        <div class="header-brand">
            <a href="{% url 'main:index' %}" class="header-brand-link-authed">
                <img src="{% static 'images/logo.svg' %}" alt="logo" width="30px" height="30px">
            </a>
        </div>
        <nav class="nav-authed">
            <a href="{% url 'main:index' %}" class="nav-item-authed nav-item-active-authed">Company</a>
            <a href="{% url 'main:index' %}" class="nav-item-authed">Resources</a>
            <a href="{% url 'main:index' %}" class="nav-item-authed">Questions</a>
        </nav>
        <div class="header-profile">
            <a href="{% url 'main:index' %}" class="header-brand-link-authed">
                <img src="{% static 'images/logo.svg' %}" alt="logo" width="30px" height="30px">
            </a>
        </div>
    </header>
    {% else %}
    <header>
        <div class="header-brand">
            <a href="{% url 'main:index' %}" class="header-brand-link">
                <img src="{% static 'images/logo.svg' %}" alt="logo" width="30px" height="30px">
                <span>KnowHub.app</span>
            </a>
        </div>
        <nav>
            {% if request.user.is_authenticated %}
            <a href="{% url 'main:index' %}" class="nav-item">Dashboard</a>
            <a href="{% url 'main:logout' %}" class="nav-item">Log out</a>
            {% else %}
            <a href="{% url 'main:login' %}" class="nav-item">Sign in</a>
            <a href="{% url 'main:login' %}" class="nav-item">Get started →</a>
            {% endif %}
        </nav>
    </header>
    {% endif %}

    {% block content %}
    {% endblock %}

    <footer>
        <div class="footer-content">
            <div class="footer-content-left">© Fugue Stateless Ltd</div>
            <div class="footer-content-right">
                <a href="#" class="footer-content-right-item">About</a>
                <a href="#" class="footer-content-right-item">Blog</a>
                <a href="#" class="footer-content-right-item">Terms</a>
                <a href="#" class="footer-content-right-item">Privacy</a>
            </div>
        </div>
    </footer>
    {% endblock %}
</body>
</html>
