{% extends 'main/layout.html' %}

{% load static %}

{% block title %}Sign in - KnowHub.app{% endblock %}

{% block scaffold %}
    <section class="ritual">
        <a href="{% url 'main:index' %}">
            <img src="{% static 'images/logo.svg' %}" alt="logo" width="48px" height="48px">
        </a>

        <h1>Sign in to KnowHub.app</h1>

        {% if next %}
            <div class="ritual-alert">
                To proceed please sign in.
            </div>
        {% endif %}

        {% if messages %}
            <div class="ritual-alert">
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
            </div>
        {% endif %}

        <form action="{% url 'main:auth' %}" method="post">
            {{ form.non_field_errors }}

            <label for="id_email" class="section-label">Enter your email to login <abbr title="No passwords ™">in fashion</abbr></label>
            {% if form.email.errors %}
                {% for error in form.email.errors %}
                    <div class="form-error">{{ error|escape }}</div>
                {% endfor %}
            {% endif %}
            <input type="email" name="email" maxlength="100" required id="id_email">

            {% csrf_token %}

            <input type="hidden" name="next" value="{{ next }}">

            <input type="submit" value="Sign in">
        </form>
    </section>
{% endblock %}
