{% extends 'main/layout_auth.html' %}

{% load static %}

{% block title %}People Directory - {{ request.user.profile.company.name }}{% endblock %}

{% block content %}
    <section class="people">
        <header>
            <div class="people-title">
                <h1>People Directory</h1>
                <a href="{% url 'main:announce' %}" class="people-title-announce">Announce</a>
                <a href="{% url 'main:invite' %}" class="people-title-invite">Invite</a>
            </div>
        </header>
        <div class="people-grid">
            {% for person in people %}
            {% if person.profile.name %}
            <a class="people-grid-item" href="{% url 'main:profile' person.username %}">
                <div class="people-grid-item-text">
                    <div class="people-grid-item-text-name">{{ person.profile.name }}</div>
                    <div class="people-grid-item-text-role">{{ person.profile.role|default:"&nbsp;" }}</div>
                </div>
                <div class="people-grid-item-photo">
                    <img src="{{ person.profile.photo }}" alt="user photo" width="48px">
                </div>
            </a>
            {% endif %}
            {% endfor %}
        </div>
    </section>
{% endblock %}
