{% extends 'main/scaffold.html' %}

{% load static %}

{% block title %}Privacy Policy - KnowHub{% endblock %}

{% block content %}
    <section class="generic">
        <h1>Privacy Policy</h1>
        <div class="generic-content">
            <p>
                Your privacy is important to us. It is Fugue Stateless Ltd's policy to respect your privacy regarding
                any information we may collect from you across our website,
                <a href="https://knowhub.app/">https://knowhub.app/</a>, and other sites we own and operate.
            </p>

            <h2>General</h2>
            <ol>
                <li>
                    We only ask for personal information when we truly need it to provide a service to you. We collect it
                    by fair and lawful means, with your knowledge and consent. We also let you know why we’re collecting it
                    and how it will be used.
                </li>
                <li>
                    We only retain collected information for as long as necessary to provide you with your requested
                    service. What data we store, we’ll protect within commercially acceptable means to prevent loss and
                    theft, as well as unauthorised access, disclosure, copying, use or modification.
                </li>
                <li>
                    We don’t share any personally identifying information publicly or with third-parties.
                </li>
                <li>
                    Our website may link to external sites that are not operated by us. Please be aware that we have no
                    control over the content and practices of these sites, and cannot accept responsibility or liability
                    for their respective privacy policies.
                </li>
                <li>
                    You are free to refuse our request for your personal information, with the understanding that we may be
                    unable to provide you with some of your desired services.
                </li>
                <li>
                    Your continued use of our website will be regarded as acceptance of our practices around privacy and
                    personal information. If you have any questions about how we handle user data and personal information,
                    feel free to contact us.
                </li>
            </ol>

            <h2>GDPR</h2>
            <p>
                The General Data Protection Regulation (“GDPR”) gives people under its protection certain rights with
                respect to their personal information collected by us on the Site. Accordingly, Fugue Stateless Ltd
                recognizes and complies with GDPR and those rights, except as limited by applicable law. The rights
                under GDPR include:
            </p>
            <ol>
                <li>
                    <strong>Right of Access.</strong> This includes your right to access the personal information we gather about you,
                    and your right to obtain information about the sharing, storage, security and processing of that
                    information.
                </li>
                <li>
                    <strong>Right to Correction.</strong> This is your right to request correction of your personal information.
                </li>
                <li>
                    <strong>Right to Erasure.</strong> This is your right to request, subject to certain limitations under applicable
                    law, that your personal information be erased from our possession (also known as the “Right to be
                    forgotten”). However, if applicable law requires us to comply with your request to delete your
                    information, fulfillment of your request may prevent you from using KnowHub services and may
                    result in closing your account.
                </li>
                <li>
                    <strong>Right to Complain.</strong> You have the right to make a complaint regarding our handling of your personal
                    information with the appropriate supervisory authority.
                </li>
                <li>
                    <strong>Right to Restrict Processing.</strong> This is your right to request restriction of how and why your
                    personal information is used or processed.
                </li>
                <li>
                    <strong>Right to Object.</strong> This is your right, in certain situations, to object to how or why your personal
                    information is processed.
                </li>
                <li>
                    <strong>Right to Portability.</strong> This is your right to receive the personal information we have about you and
                    the right to transmit it to another party.
                </li>
                <li>
                    <strong>Right to not be subject to Automated Decision-Making.</strong> This is your right to object and prevent any
                    decision that could have a legal, or similarly significant, effect on you from being made solely
                    based on automated processes. This right is limited, however, if the decision is necessary for
                    performance of any contract between you and us, is allowed by applicable European law, or is based
                    on your explicit consent.
                </li>
            </ol>
            <p>
                Many of these rights can be exercised by signing in and directly updating your account information.
                If you have questions about exercising these rights or need assistance, please contact us at
                hi@knowhub.app.
            </p>

            <h2>Security</h2>
            <p>
                All data is encrypted via TLS when transmitted from our servers to your browser.
            </p>

            <h2>Deleted Data</h2>
            <p>
                When you cancel your account, we’ll ensure that nothing is stored on our servers past 90 days.
                Anything you delete on your account while it’s active will also be purged within 90 days.
            </p>

            <h2>Location of Data</h2>
            <p>
                This Site is operated in Ireland. If you are located elsewhere, please be aware that any information
                you provide to us will be transferred to Ireland. By using our Site, participating in any of our
                services and/or providing us with your information, you consent to this transfer.
            </p>

            <h2>Changes</h2>
            <p>
                Fugue Stateless Ltd may update this policy. You can access, change or delete your personal information
                at any time by contacting us at hi@knowhub.app.
            </p>

            <p>For any questions regarding this privacy policy feel free to get in touch by email at hi@knowhub.app.</p>

            <p>
                <em>Last updated: August 11, 2018</em>
            </p>
        </div>
    </section>
{% endblock %}
