{% extends 'main/layout_auth.html' %}

{% load static %}
{% load custom_filters %}

{% block title %}{{ user.profile.name }} - {{ request.user.profile.company.name }}{% endblock %}

{% block content %}
    <section class="profile">
        <img class="profile-photo" src="{{ user.profile.photo }}" alt="profile photo" width="240px">

        <h1>{{ user.profile.name|default:"" }}</h1>
        <div class="profile-role">{{ user.profile.role|default:"" }}</div>
        <div class="profile-details">
            <div class="profile-details-line">
                <div class="profile-details-line-key">Email</div>
                <div class="profile-details-line-value">{{ user.email }}</div>
            </div>
            {% if user.profile.slack %}
            <div class="profile-details-line">
                <div class="profile-details-line-key">Slack</div>
                <div class="profile-details-line-value">{{ user.profile.slack }}</div>
            </div>
            {% endif %}
            {% if user.profile.work_start and user.profile.work_end %}
            <div class="profile-details-line">
                <div class="profile-details-line-key">Working Hours</div>
                <div class="profile-details-line-value">
                    <abbr title="At your local timezone ({{ TIME_ZONE|tz_offset }})">{{ user.profile.work_start|time:"H:i" }} - {{ user.profile.work_end|time:"H:i" }}</abbr>
                </div>
            </div>
            {% endif %}
            <div class="profile-details-line">
                <div class="profile-details-line-key">Local Time</div>
                <div class="profile-details-line-value" title="{{ local_datetime }}">{{ local_time }}</div>
            </div>
            <div class="profile-details-line">
                <div class="profile-details-line-key">Location</div>
                <div class="profile-details-line-value">{{ user.profile.location }} – {{ user.profile.time_zone|tz_offset }}</div>
            </div>
        </div>

        {% if request.user == user %}
        <div>
            <br>
            <a href="{% url 'main:settings_user' request.user.profile.company.route %}">User Settings</a>
            {% if request.user.profile.is_admin %}
            | <a href="{% url 'main:settings_company' request.user.profile.company.route %}">Company Settings</a>
            {% endif %}
            | <a href="{% url 'main:logout' %}">Sign out</a>
        </div>
        {% endif %}
    </section>
{% endblock %}
