{% extends 'main/scaffold.html' %}

{% load static %}

{% block title %}Company - KnowHub.app{% endblock %}

{% block content %}
    <section class="profile">
        {% if messages %}
        <div class="generic-alert">
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        </div>
        {% endif %}

        <img class="profile-photo" src="{{ user.profile.photo }}" alt="profile photo" width="240px">

        <h1>{{ user.profile.name|default:"" }}</h1>
        <div class="profile-role">{{ user.profile.role|default:"" }}</div>
        <div class="profile-details">
            <div class="profile-details-line">
                <div class="profile-details-line-key">Email</div>
                <div class="profile-details-line-value">{{ user.email }}</div>
            </div>
            <div class="profile-details-line">
                <div class="profile-details-line-key">Slack</div>
                <div class="profile-details-line-value">{{ user.profile.slack }}</div>
            </div>
            <div class="profile-details-line">
                <div class="profile-details-line-key">Local Time</div>
                <div class="profile-details-line-value">12:23 PM</div>
            </div>
            <div class="profile-details-line">
                <div class="profile-details-line-key">Location</div>
                <div class="profile-details-line-value">{{ user.profile.location }} – UTC-7</div>
            </div>
        </div>

        {% if request.user == user %}
        <div>
            <br>
            <a href="{% url 'main:settings_user' request.user.profile.company.route %}">User Settings</a>
            {% if request.user.profile.is_admin %}
            | <a href="{% url 'main:settings_company' request.user.profile.company.route %}">Company Settings</a>
            {% endif %}
            | <a href="{% url 'main:logout' %}">Sign out</a>
        </div>
        {% endif %}
    </section>
{% endblock %}
