{% extends 'main/layout_auth.html' %}

{% load static %}

{% block title %}{{ question.title }} - {{ request.user.profile.company.name }}{% endblock %}

{% block head_extra %}
    <link rel="stylesheet" href="{% static 'font-awesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'styles/simplemde.min.css' %}">
    <style>
        /* SimpleMDE related styles */
        .CodeMirror {
            font-family: SFMono-Regular, Consolas, "Liberation Mono", Menlo, Courier, monospace;
            line-height: 1.5;
        }

        .CodeMirror, .CodeMirror-scroll {
            min-height: 100px;
        }

        .editor-statusbar {
            margin-bottom: 50px;
        }

        .editor-toolbar {
            border-color: #ddd;
            border-radius: 1px;
            opacity: 1;
        }

        .editor-toolbar:hover {
            opacity: 1;
        }

        .editor-toolbar a {
            border-radius: 1px;
            opacity: 0.6;
        }

        .editor-toolbar a.active,
        .editor-toolbar a:hover {
            opacity: 1;
            border-color: transparent;
            background: inherit;
        }
    </style>
{% endblock %}

{% block content %}
    <section class="questions">
        <div class="questions-view">
            <header class="questions-view-header">
                <h1>{{ question.title }}</h1>
                <div class="questions-view-header-control">
                    {% if request.user == question.author %}
                    <a href="{% url 'main:questions_edit' question.slug %}" class="questions-view-header-control-edit">Edit</a>
                    <a href="{% url 'main:questions_create' %}" class="questions-view-header-control-create">Ask a Question</a>
                    {% else %}
                    <a href="{% url 'main:questions_create' %}" class="questions-view-header-control-create">Ask a Question</a>
                    {% endif %}
                </div>
            </header>
            <div class="questions-view-inquiry">
                <div class="questions-view-inquiry-author">
                    <div class="questions-view-content-body-author">
                        <a href="{% url 'main:profile' question.author.username %}" title="{{ question.author.profile.name }} ({{question.author.username }})">
                            <img src="{{ question.author.profile.photo }}" alt="{{ question.author.username }} photo" width="32px" height="32px">
                            {{ question.author.profile.name }}
                        </a>
                    </div>
                </div>
                <div class="questions-view-inquiry-body">
                    <div class="questions-view-content-body-text">{{ question.as_markdown|safe }}</div>
                </div>
                <div class="questions-view-inquiry-meta">
                    updated at {{ question.updated_at }} |
                    asked at {{ question.created_at }}
                </div>
            </div>
            <div class="questions-view-answers">
                <div class="questions-view-answers-title">Answers</div>
                {% for item in answers %}
                <div class="questions-view-answers-item">
                    <div class="questions-view-answers-item-author">
                        <a href="{% url 'main:profile' item.author.username %}" title="{{ item.author.profile.name }} ({{item.author.username }})">
                            <img src="{{ item.author.profile.photo }}" alt="{{ item.author.username }} photo" width="32px" height="32px">
                            {{ item.author.profile.name }}
                        </a>
                    </div>
                    <div class="questions-view-answers-item-body">
                        {{ item.as_markdown|safe }}
                    </div>
                    <div class="questions-view-answers-item-meta">
                        answered at {{ item.created_at }}
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="questions-view-post">
                <div class="questions-view-post-title">Your Answer</div>
                <form action="{% url 'main:questions_view' question.slug %}" method="post">
                    {{ form.non_field_errors }}

                    {% if form.body.errors %}
                        {% for error in form.body.errors %}
                            <div class="form-error">{{ error|escape }}</div>
                        {% endfor %}
                    {% endif %}
                    <textarea name="body" id="id_body" required></textarea>

                    {% csrf_token %}

                    <input type="submit" value="Post Answer" class="questions-view-post-submit">
                </form>
            </div>
        </div>
    </section>
{% endblock %}

{% block scripts %}
    <script src="{% static 'scripts/simplemde.min.js' %}"></script>
    <script>
        var simplemde = new SimpleMDE({
            element: document.getElementById('id_body'),
            forceSync: true,
            autoDownloadFontAwesome: false,
            spellChecker: false,
            placeholder: 'Type your answer here...',
            hideIcons: ['guide', 'quote', 'heading', 'preview', 'side-by-side', 'fullscreen'],
            status: false,
            shortcuts: {
                'toggleOrderedList': null,
                'toggleCodeBlock': null,
                'drawTable': null,
                'toggleHeadingBigger': null,
                'drawImage': null,
            }
        });
    </script>
{% endblock %}
