{% extends 'main/scaffold.html' %}

{% load static %}

{% block title %}Resources - KnowHub.app{% endblock %}

{% block content %}
    <section class="resources">
        {% if messages %}
        <div class="alert">
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        </div>
        {% endif %}

        <header>
            <h1>Resources</h1>
            <a href="{% url 'main:resources_create' request.user.profile.company.route %}">Create</a>
        </header>
        <div class="resources-list">
            {% for document in resources %}
            <div class="resources-list-item">
                <h2 class="resources-list-item-title">
                    <a href="{% url 'main:resources_view' request.user.profile.company.route document.slug %}">{{ document.title }}</a>
                </h2>
            </div>
            {% endfor %}
        </div>
    </section>
{% endblock %}
