{% extends 'main/layout_auth.html' %}

{% load static %}

{% block title %}Resources - KnowHub.app{% endblock %}

{% block content %}
    <section class="resources">
        {% if messages %}
        <div class="alert">
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        </div>
        {% endif %}

        <header>
            <h1>Resources</h1>
            <a href="{% url 'main:resources_create' %}">Create</a>
        </header>
        <div class="resources-list">
            {% for item in resources %}
            <div class="resources-list-item">
                <h2 class="resources-list-item-title">
                    <a href="{% url 'main:resources_view' item.slug %}">{{ item.title }}</a>
                </h2>
                <div class="resources-list-item-tags">
                    {% for tag in item.tag_set.all %}
                        <div class="resources-list-item-tags-item">{{ tag.text }}</div>
                    {% endfor %}
                </div>
            </div>
            {% endfor %}
        </div>
    </section>
{% endblock %}
