{% load static %}

<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% block meta %}
    <meta name="description" content="Home for company information and resources. Resources, searchable questions and answers, people directory, announcements.">
    <meta name="author" content="KnowHub">

    <meta property="og:type" content="website">
    <meta property="og:site_name" content="KnowHub">
    <meta property="og:title" content="Docs for remote teams">
    <meta property="og:description" content="Home for company information and resources. Resources, searchable questions and answers, people directory, announcements.">
    <meta property="og:image" content="https://knowhub.app/static/images/logo.png">
    <meta property="og:url" content="https://knowhub.app/">

    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@KnowHubApp">
    <meta name="twitter:title" content="Docs for remote teams">
    <meta name="twitter:description" content="Home for company information and resources. Resources, searchable questions and answers, people directory, announcements.">
    <meta name="twitter:image" content="https://knowhub.app/static/images/logo.png">
    {% endblock %}

    <link rel="apple-touch-icon" sizes="180x180" href="https://knowhub.app/static/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="https://knowhub.app/static/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="https://knowhub.app/static/images/favicon-16x16.png">
    <link rel="manifest" href="https://knowhub.app/static/images/site.webmanifest">
    <link rel="mask-icon" href="https://knowhub.app/static/images/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="https://knowhub.app/static/images/favicon.ico">

    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="https://knowhub.app/static/images/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

    <title>{% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'styles/main.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">

    {% block head_extra %}
    {% endblock %}
</head>
<body>
    {% block layout %}
    {% endblock %}

    <footer>
        <div class="footer-content">
            <div class="footer-content-left">© 2018 Fugue Stateless Ltd</div>
            <div class="footer-content-right">
                <a href="mailto:hi@knowhub.app" class="footer-content-right-item">Contact</a>
                <a href="{% url 'main:terms' %}" class="footer-content-right-item">Terms</a>
                <a href="{% url 'main:privacy' %}" class="footer-content-right-item">Privacy</a>
                <a href="{% url 'main:blog' %}" class="footer-content-right-item">Blog</a>
            </div>
        </div>
    </footer>

    {% block scripts %}
    {% endblock %}

    {% if not no_chat %}
    <!-- Chatra {literal} -->
    <script>
        window.ChatraSetup = {
            colors: {
                buttonText: '#f0f0f0',
                buttonBg: '#565656',
            },
        };
        (function(d, w, c) {
            w.ChatraID = 'G7qtPheMJgiMQMWKS';
            var s = d.createElement('script');
            w[c] = w[c] || function() {
                (w[c].q = w[c].q || []).push(arguments);
            };
            s.async = true;
            s.src = 'https://call.chatra.io/chatra.js';
            if (d.head) d.head.appendChild(s);
        })(document, window, 'Chatra');
    </script>
    <!-- /Chatra {/literal} -->
    {% endif %}
</body>
</html>
