{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Home for company information and resources.">

    <title>{% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'styles/main.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">

    {% block head_extra %}
    {% endblock %}
</head>
<body>
    {% block layout %}
    {% if request.user.is_authenticated %}
    <header>
        <div class="header-brand">
            <a href="{% url 'main:index' %}" class="header-brand-link">
                <img src="{{ request.user.profile.company.logo }}" alt="logo" width="30px" height="30px">
            </a>
        </div>
        <nav>
            <a href="{% url 'main:people' request.user.profile.company.route %}" class="nav-item">
                <div class="nav-item-icon">
                    {% include "main/team.svg" %}
                </div>
                People
            </a>
            <a href="{% url 'main:resources' request.user.profile.company.route %}" class="nav-item">
                <div class="nav-item-icon">
                    {% include "main/book.svg" %}
                </div>
                Resources
            </a>
            <a href="{% url 'main:questions' request.user.profile.company.route %}" class="nav-item">
                <div class="nav-item-icon">
                    {% include "main/bubbles.svg" %}
                </div>
                Questions
            </a>
        </nav>
        <div class="header-profile">
            <a href="{% url 'main:profile' request.user.profile.company.route request.user.username %}">
                <img class="header-profile-photo" src="{{ request.user.profile.photo }}" alt="logo" width="30px" height="30px">
            </a>
        </div>
    </header>
    {% else %}
    <header>
        <div class="header-brand">
            <a href="{% url 'main:index' %}" class="header-brand-link">
                <img src="{% static 'images/logo.svg' %}" alt="logo" width="30px" height="30px">
                <span>KnowHub</span>
            </a>
        </div>
        <nav>
            <a href="{% url 'main:index' %}#features" class="nav-item nav-item-anchor">Features</a>
            <a href="{% url 'main:index' %}#why-knowhub" class="nav-item nav-item-anchor">Why KnowHub?</a>
            <a href="{% url 'main:index' %}#pricing" class="nav-item nav-item-anchor">Pricing</a>
            <!-- <a href="{% url 'main:login' %}" class="nav-item nav-item-special">Sign in</a> -->
            <a href="{% url 'main:subscribe' %}" class="nav-item nav-item-cta">Get started →</a>
        </nav>
    </header>
    {% endif %}

    {% block content %}
    {% endblock %}

    <footer>
        <div class="footer-content">
            <div class="footer-content-left">© 2018 Fugue Stateless Ltd</div>
            <div class="footer-content-right">
                <a href="{% url 'main:legal_terms' %}" class="footer-content-right-item">Terms</a>
                <a href="{% url 'main:legal_privacy' %}" class="footer-content-right-item">Privacy</a>
                <a href="{% url 'main:blog' %}" class="footer-content-right-item">Blog</a>
            </div>
        </div>
    </footer>
    {% endblock %}

    {% block scripts %}
    {% endblock %}
</body>
</html>
