{% load static %}
{% load app_filters %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="KnowHub.app is a distributed home for remote companies.">

    <title>{% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'styles/main.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500" rel="stylesheet">
</head>
<body>
    {% block layout %}
    {% if request.user.is_authenticated %}
    <header>
        <div class="header-brand">
            <a href="{% url 'main:index' %}" class="header-brand-link">
                <img src="{{ request.user.profile.company.logo }}" alt="logo" width="30px" height="30px">
            </a>
        </div>
        <nav>
            <a href="{% url 'main:people' request.user.profile.company.route %}" class="nav-item {% nav_active 'people' %}">People</a>
            <a href="{% url 'main:resources' request.user.profile.company.route %}" class="nav-item {% nav_active 'resources' %}">Resources</a>
            <a href="{% url 'main:questions' request.user.profile.company.route %}" class="nav-item {% nav_active 'questions' %}">Questions</a>
        </nav>
        <div class="header-profile">
            <a href="{% url 'main:profile' request.user.profile.company.route request.user.username %}">
                <img class="header-profile-photo" src="{{ request.user.profile.photo }}" alt="logo" width="30px" height="30px">
            </a>
        </div>
    </header>
    {% else %}
    <header>
        <div class="header-brand">
            <a href="{% url 'main:index' %}" class="header-brand-link">
                <img src="{% static 'images/logo.svg' %}" alt="logo" width="30px" height="30px">
                <span>KnowHub.app</span>
            </a>
        </div>
        <nav>
            {% if request.user.is_authenticated %}
            <a href="{% url 'main:index' %}" class="nav-item">Dashboard</a>
            <a href="{% url 'main:logout' %}" class="nav-item">Log out</a>
            {% else %}
            <a href="{% url 'main:login' %}" class="nav-item nav-item-special">Sign in</a>
            <a href="{% url 'main:login' %}" class="nav-item nav-item-cta">Get started →</a>
            {% endif %}
        </nav>
    </header>
    {% endif %}

    {% block content %}
    {% endblock %}

    <footer>
        <div class="footer-content">
            <div class="footer-content-left">© 2018 Fugue Stateless Ltd</div>
            <div class="footer-content-right">
                <a href="#" class="footer-content-right-item">About</a>
                <a href="#" class="footer-content-right-item">Blog</a>
                <a href="#" class="footer-content-right-item">Terms</a>
                <a href="#" class="footer-content-right-item">Privacy</a>
            </div>
        </div>
    </footer>
    {% endblock %}

    {% block scripts %}
    {% endblock %}
</body>
</html>
