{% extends 'main/layout_auth.html' %}

{% load static %}

{% block title %}Settings - {{ request.user.profile.company.name }}{% endblock %}

{% block content %}
    <section class="settings">
        <div class="settings-photo">
            <img src="{{ request.user.profile.photo }}" alt="profile photo" width="240px" id="change-photo">
            {% csrf_token %}
            <input type="file" id="fileElem" multiple accept="image/*" style="display:none" onchange="handleFiles(this.files)">
        </div>
        <a href="#" id="fileSelect">Change profile photo</a>

        <h1>Settings</h1>

        <form action="{% url 'main:settings_user' %}" method="post">
            {{ form.non_field_errors }}

            <label for="id_name">{{ form.name.label }}</label>
            {% if form.name.errors %}
                {% for error in form.name.errors %}
                    <div class="form-error">{{ error|escape }}</div>
                {% endfor %}
            {% endif %}
            <input type="text" name="name" maxlength="300" required id="id_name" value="{{ form.name.value|default:"" }}">

            <label for="id_email">Email</label>
            {% if form.email.errors %}
                {% for error in form.email.errors %}
                    <div class="form-error">{{ error|escape }}</div>
                {% endfor %}
            {% endif %}
            <input type="email" name="email" maxlength="300" required id="id_email" value="{{ form.email.value }}">

            <label for="id_role">{{ form.role.label }}</label>
            {% if form.role.errors %}
                {% for error in form.role.errors %}
                    <div class="form-error">{{ error|escape }}</div>
                {% endfor %}
            {% endif %}
            <input type="text" name="role" maxlength="300" id="id_role" value="{{ form.role.value|default:"" }}">

            <label for="id_slack">{{ form.slack.label }}</label>
            {% if form.slack.errors %}
                {% for error in form.slack.errors %}
                    <div class="form-error">{{ error|escape }}</div>
                {% endfor %}
            {% endif %}
            <input type="text" name="slack" maxlength="300" id="id_slack" value="{{ form.slack.value|default:"" }}">

            <label for="id_work_start">{{ form.work_start.label }}</label>
            {% if form.work_start.errors %}
                {% for error in form.work_start.errors %}
                    <div class="form-error">{{ error|escape }}</div>
                {% endfor %}
            {% endif %}
            <input type="time" name="work_start" maxlength="300" id="id_work_start" value="{{ form.work_start.value }}">

            <label for="id_work_end">{{ form.work_end.label }}</label>
            {% if form.work_end.errors %}
                {% for error in form.work_end.errors %}
                    <div class="form-error">{{ error|escape }}</div>
                {% endfor %}
            {% endif %}
            <input type="time" name="work_end" maxlength="300" id="id_work_end" value="{{ form.work_end.value }}">

            <label for="id_location">{{ form.location.label }}</label>
            {% if form.location.errors %}
                {% for error in form.location.errors %}
                    <div class="form-error">{{ error|escape }}</div>
                {% endfor %}
            {% endif %}
            <input type="text" name="location" maxlength="300" id="id_location" value="{{ form.location.value|default:"" }}">

            <label for="id_time_zone">Time Zone</label>
            {% if form.time_zone.errors %}
                {% for error in form.time_zone.errors %}
                    <div class="form-error">{{ error|escape }}</div>
                {% endfor %}
            {% endif %}
            <select name="time_zone" id="id_time_zone">
                {% for tz in timezones %}
                <option value="{{ tz.code }}" {% if tz.code == TIME_ZONE %}selected{% endif %}>({{ tz.offset }}) {{ tz.name }}</option>
                {% endfor %}
            </select>

            {% csrf_token %}
            <input type="submit" value="Save changes">
        </form>
    </section>
{% endblock %}

{% block scripts %}
    <script>
        function getCsrf() {
            var inputElems = document.querySelectorAll('input');
            var csrfToken = '';
            for (let i = 0; i < inputElems.length; ++i) {
                if (inputElems[i].name === 'csrfmiddlewaretoken') {
                    csrfToken = inputElems[i].value;
                    break;
                }
            }
            return csrfToken;
        }

        var isAuthenticated = !!'{{ request.user.is_authenticated|yesno:"1,0" }}';

        var cloudName = 'du9ja9zgm';
        var unsignedUploadPreset = 'tmbrppsl';

        var fileSelect = document.getElementById("fileSelect");
        var fileElem = document.getElementById("fileElem");

        fileSelect.addEventListener("click", function(e) {
            if (fileElem) {
                fileElem.click();
            }
            e.preventDefault(); // prevent navigation to "#"
        }, false);

        // ************************ Drag and drop ***************** //
        // function dragenter(e) {
        //     e.stopPropagation();
        //     e.preventDefault();
        // }

        // function dragover(e) {
        //     e.stopPropagation();
        //     e.preventDefault();
        // }

        // dropbox = document.getElementById("dropbox");
        // dropbox.addEventListener("dragenter", dragenter, false);
        // dropbox.addEventListener("dragover", dragover, false);
        // dropbox.addEventListener("drop", drop, false);

        // function drop(e) {
        //     e.stopPropagation();
        //     e.preventDefault();

        //     var dt = e.dataTransfer;
        //     var files = dt.files;

        //     handleFiles(files);
        // }

        // *********** Upload file to Cloudinary ******************** //
        function uploadFile(file) {
            var url = 'https://api.cloudinary.com/v1_1/' + cloudName + '/upload';
            var xhr = new XMLHttpRequest();
            var fd = new FormData();
            xhr.open('POST', url, true);
            xhr.setRequestHeader('X-Requested-With', 'XMLHttpRequest');

            // Reset the upload progress bar
            // document.getElementById('progress').style.width = 0;

            // Update progress (can be used to show progress indicator)
            // xhr.upload.addEventListener("progress", function(e) {
            //     var progress = Math.round((e.loaded * 100.0) / e.total);
            //     document.getElementById('progress').style.width = progress + "%";

            //     console.log(`fileuploadprogress data.loaded: ${e.loaded},
            //     data.total: ${e.total}`);
            // });

            xhr.onreadystatechange = function(e) {
                if (xhr.readyState == 4 && xhr.status == 200) {
                    // File uploaded successfully
                    var response = JSON.parse(xhr.responseText);
                    // https://res.cloudinary.com/cloudName/image/upload/v1483481128/public_id.jpg
                    var url = response.secure_url;
                    // Create a thumbnail of the uploaded image, with 250px width
                    var tokens = url.split('/');
                    tokens.splice(-2, 0, 'c_fill,g_center,h_500,w_500');
                    // c_scale,w_500
                    // c_crop,g_center,h_500,w_500

                    // var img = new Image(); // HTML5 Constructor
                    // img.src = tokens.join('/');
                    // img.alt = response.public_id;
                    // document.getElementById('gallery').appendChild(img);
                    var photoUrl = tokens.join('/');
                    document.getElementById('change-photo').src = photoUrl;
                    setProfile(photoUrl);
                }
            };

            fd.append('upload_preset', unsignedUploadPreset);
            fd.append('tags', 'browser_upload'); // Optional - add tag for image admin in Cloudinary
            fd.append('file', file);
            xhr.send(fd);
        }

        // *********** Handle selected files ******************** //
        var handleFiles = function(files) {
            for (var i = 0; i < files.length; i++) {
                uploadFile(files[i]); // call the function to upload the file
            }
        };

        // set profile on user
        var setProfile = function (photoUrl) {
            var url = document.location.href + 'photo/';
            var xhr = new XMLHttpRequest();
            var body = {
                'photo_url': photoUrl,
            };
            xhr.open('POST', url, true);
            xhr.setRequestHeader('X-Requested-With', 'XMLHttpRequest');
            xhr.setRequestHeader('X-CSRFToken', getCsrf());
            xhr.onreadystatechange = function (e) {
                if (xhr.readyState == 4 && xhr.status == 200) {
                    var response = JSON.parse(xhr.responseText);
                }
            };
            xhr.send(JSON.stringify(body));
        };
    </script>
{% endblock %}
